numpy
pandas
sqlalchemy
certifi
charset-normalizer
click
docopt
entrypoints
Flask
greenlet
gunicorn
ibm-cloud-sdk-core
ibm-watson
itsdangerous
mistune
pipreqs
psycopg2
PyJWT
PyPDF2
pywinpty
requests
session-info
SQLAlchemy
stdlib-list
terminado
urllib3
webencodings
websocket-client
Werkzeug
widgetsnbextension
wincertstore
yarg

